{% extends "layout.html" %}

{% block title %}
    User History
{% endblock %}

{% block main %}
    <h2>User History</h2>
    <div class="container">
        <div class="row">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="text-start">Entry ID</th>
                        <th scope="col">User ID</th>
                        <th scope="col">Patient ID</th>
                        <th scope="col">Weight Date</th>
                        <th scope="col">Patient Weight</th>
                        <th scope="col">Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in history %}
                        <tr>
                            <th scope="row" class="text-start">{{ entry.id }}</td>
                            <td>{{ entry.user_id }}</td>
                            <td>{{ entry.patient_id }}</td>
                            <td>{{ entry.weight_date }}</td>
                            <td>{{ entry.patient_weight }}</td>
                            <td>{{ entry.timestamp }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}